<div class="hero-section">
  <div class="container">
    <div class="title">
      <div class="header"><h1>Онлайн библиотека</h1></div>
      <div class="light">
        <h2>Главные книги в быстром доступе</h2>
        <h3>Художественная литература и новости</h3>
      </div>
    </div>
  </div>
</div>

<div class="info">
  <div class="container">
    <h2>Любимые книги всегда в доступе</h2>
    <p class="about">Добавляйте и сохраняйте свои любимые книги - они будут всегда под рукой</p>
  </div>
</div>
<div class="favorite_books">
  <div class="container">
    <h2>Подборки от редакции</h2>
    <p class="about">Собираем книги от разных писателей, которые подойдут на все случаи жизни</p>
  </div>
</div>
<div class="info">
  <div class="container">
    <h2>Узнайте больше</h2>
    <p class="about">Как было создано это произведение? <br> Что в нём интересного?</p>
  </div>
</div>
<div class="favorite_books">
  <div class="container">
    <h2>Создавайте свои заметки</h2>
    <p class="about">Читайте, редактируйте их, в любое время</p>
  </div>
</div>
<div class="carousel">
  <image-slider [slides]="slides" ></image-slider>
</div>
